bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.DICE_CharacterTracker/.idea/indexLayout.xml
/.idea/.idea.DICE_CharacterTracker/.idea/projectSettingsUpdater.xml
/.idea/.idea.DICE_CharacterTracker/.idea/vcs.xml
/.idea/.idea.DICE_CharacterTracker/.idea/workspace.xml
/.idea/.idea.DICE_CharacterTracker/.idea/dataSources.local.xml
