bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.DICE_CharacterTracker/.idea/indexLayout.xml
/.idea/.idea.DICE_CharacterTracker/.idea/projectSettingsUpdater.xml
/.idea/.idea.DICE_CharacterTracker/.idea/vcs.xml
/.idea/.idea.DICE_CharacterTracker/.idea/workspace.xml
/.idea/.idea.DICE_CharacterTracker/.idea/dataSources.local.xml
/.idea/.idea.DICE_CharacterTracker/.idea/dataSources/900038d5-0e0d-409d-8d0a-7fe7ef5c8b46.xml
/.idea/.idea.DICE_CharacterTracker/.idea/dataSources/900038d5-0e0d-409d-8d0a-7fe7ef5c8b46/storage_v2/_src_/database/postgres.edMnLQ/schema/information_schema.FNRwLQ.meta
/.idea/.idea.DICE_CharacterTracker/.idea/dataSources/900038d5-0e0d-409d-8d0a-7fe7ef5c8b46/storage_v2/_src_/database/postgres.edMnLQ/schema/pg_catalog.0S1ZNQ.meta
/.idea/.idea.DICE_CharacterTracker/.idea/dataSources/900038d5-0e0d-409d-8d0a-7fe7ef5c8b46/storage_v2/_src_/database/postgres.edMnLQ.meta
/.idea/.idea.DICE_CharacterTracker/.idea/dataSources/900038d5-0e0d-409d-8d0a-7fe7ef5c8b46/storage_v2/_src_/database/postgres.edMnLQ/schema/public.abK9xQ.meta
